@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#dfa000), color-stop(#ff6f00), to(rgba(37, 143, 37, 0.755)));
  background: linear-gradient(to bottom, #dfa000, #ff6f00, rgba(37, 143, 37, 0.755));
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.container {
  width: 85%;
  margin: auto;
}

header {
  width: 100%;
  position: relative;
}

header #nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

header #nav .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

header #nav .headerMenu .logo {
  width: 10%;
  padding: 5px 0;
}

header #nav .headerMenu .logo #_logo {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

header #nav .headerMenu .logo #_logo path {
  fill: lightgray;
  -webkit-animation: fill 5s infinite;
          animation: fill 5s infinite;
}

@-webkit-keyframes fill {
  0% {
    fill: lightgray;
  }
  25% {
    fill: #fa5555;
  }
  50% {
    fill: #fa8955;
  }
  75% {
    fill: #9455fa;
  }
  100% {
    fill: lightgray;
  }
}

@keyframes fill {
  0% {
    fill: lightgray;
  }
  25% {
    fill: #fa5555;
  }
  50% {
    fill: #fa8955;
  }
  75% {
    fill: #9455fa;
  }
  100% {
    fill: lightgray;
  }
}

header #nav .headerMenu .menu {
  width: 40%;
  height: 100% !important;
  padding-left: 20px;
  margin-left: 20px;
}

header #nav .headerMenu .menu ._navMenu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #nav .headerMenu .menu ._navMenu .navLi {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

header #nav .headerMenu .menu ._navMenu .navLi:hover {
  background-color: rgba(179, 179, 179, 0.5);
}

header #nav .headerMenu .menu ._navMenu .navLi:hover a {
  color: white;
}

header #nav .headerMenu .menu ._navMenu .navLi a {
  font-family: "Raleway", sans-serif;
  color: lightgray;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

header #nav .headerMenu .emp {
  width: 40%;
}

header #nav .headerMenu .user {
  width: 10%;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header #nav .headerMenu .user ._acc,
header #nav .headerMenu .user ._srch {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header #nav .headerMenu .user ._acc:hover img,
header #nav .headerMenu .user ._srch:hover img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

header #nav .headerMenu .user ._acc img,
header #nav .headerMenu .user ._srch img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70%;
}

header #nav .headerMenu .user ._acc .icon,
header #nav .headerMenu .user ._srch .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e17373;
  z-index: 2;
}

header #nav .headerMenu ._mLeft,
header #nav .headerMenu ._mRight,
header #nav .headerMenu ._mCat,
header #nav .headerMenu ._mUsr {
  display: none;
}

main {
  padding: 20px 0 0 0;
}

main #top {
  padding: 20px 0;
  width: 100%;
}

main #top .topList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
}

main #top .topList .topCat {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main #top .topList .topCat ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #top .topList .topCat ul li._catli {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
}

main #top .topList .topCat ul li._catli .icn {
  width: 10%;
  height: 100%;
}

main #top .topList .topCat ul li._catli:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(211, 211, 211, 0)), color-stop(rgba(211, 211, 211, 0.9)), color-stop(rgba(211, 211, 211, 0.9)), to(rgba(211, 211, 211, 0)));
  background-image: linear-gradient(to right, rgba(211, 211, 211, 0), rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0));
}

main #top .topList .topCat ul li._catli:hover a {
  color: #313131;
}

main #top .topList .topCat ul li._catli a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: lightgray;
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #top .topList .topCat ul ._liact {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(211, 211, 211, 0)), color-stop(rgba(211, 211, 211, 0.9)), color-stop(rgba(211, 211, 211, 0.9)), to(rgba(211, 211, 211, 0)));
  background-image: linear-gradient(to right, rgba(211, 211, 211, 0), rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0));
}

main #top .topList .topCat ul ._liact ._act {
  color: #303030;
}

main #top .topList .topMain {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

main #top .topList .topMain .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  left: 0;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #top .topList .topMain .slide ._article {
  width: 250px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 2px 0px lightgray;
          box-shadow: 0px 0px 2px 0px lightgray;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

main #top .topList .topMain .slide ._article ._artContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

main #top .topList .topMain .slide ._article ._artContent ._img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

main #top .topList .topMain .slide ._article ._artContent ._img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #top .topList .topMain .slide ._article ._artContent ._cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

main #top .topList .topMain .slide ._article ._artContent ._cont ._cText {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(211, 211, 211, 0.9)), to(lightgray));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(211, 211, 211, 0.9), lightgray);
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  padding: 15px;
}

main #top .topList .topMain .slide ._article ._artContent ._cont ._cText ._title {
  font-size: 20px;
  font-weight: 900;
}

main #top .topList .topMain .slide ._article ._artContent ._cont ._cText ._desc {
  margin: 10px 0;
}

main #top .topList .topMain .slide ._article ._artContent ._cont ._cOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(253, 224, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  opacity: 0;
}

main #top .topList .topMain .slide ._article ._artContent ._cont ._cOver .icons {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: rgba(26, 27, 27, 0.8);
  font-size: 26px;
}

main #top .topList .topMain .slide ._article ._artContent ._cont ._cOver .icons div._i {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgray;
  position: relative;
}

main #top .topList .topMain .slide ._article ._artContent ._cont ._cOver .icons div._i ._iTitle {
  position: absolute;
  bottom: 100%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

main #post {
  width: 100%;
  padding: 80px 0;
  position: relative;
}

main #post ._logo {
  position: absolute;
  width: 10%;
  right: 20px;
  bottom: -80px;
}

main #post ._logo img {
  width: 100%;
  opacity: 1;
}

main #post .category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

main #post .category .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  background-color: #1c7fb5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: lightgray;
}

main #post .category .title span {
  margin: 0 0 0 10px;
}

main #post .category .catTitle {
  width: 100%;
}

main #post .category .catTitle ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

main #post .category .catTitle ul li {
  height: 100%;
  cursor: pointer;
  width: calc(100% / 8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main #post .category .catTitle ul li:hover {
  background-color: #1c7fb5;
}

main #post .category .catTitle ul li a {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: lightgray;
}

main #post .category .catTitle ul .actLi {
  background-color: #1c7fb5;
}

main #post .mobileCat {
  display: none;
}

main #post .posts {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #post .posts div._post {
  cursor: pointer;
  width: 21%;
  background-color: #bce6fc;
  margin-bottom: 20px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main #post .posts div._post .image {
  width: 100%;
  height: 200px;
  position: relative;
}

main #post .posts div._post .image ._o {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  right: 0;
  background: rgba(124, 62, 62, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #post .posts div._post .image ._o:hover {
  background: rgba(0, 0, 0, 0.5);
}

main #post .posts div._post .image ._o:hover ._eyes {
  opacity: 1;
}

main #post .posts div._post .image ._o .cat {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
  background-color: #d33838;
  color: lightgray;
}

main #post .posts div._post .image ._o ._eyes {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #46beff;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

main #post .posts div._post .image ._o ._eyes div {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #post .posts div._post .image ._o ._eyes div span {
  color: white;
}

main #post .posts div._post .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main #post .posts div._post .text {
  width: 100%;
  position: relative;
  background: rgba(39, 39, 39, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #post .posts div._post .text ._tit {
  padding-left: 15px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main #post .posts div._post .text ._tit a {
  color: #d3d3b5;
  font-weight: 600;
  font-size: 28px;
  text-decoration: none;
}

main #post .posts div._post .text ._desc {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  margin-left: 0;
  color: lightgray;
  font-weight: 500;
  padding-left: 15px;
  border-left: 2px solid lightgray;
  height: 120px;
}

main #post .posts div._post .text ._auth {
  overflow: hidden;
  margin-left: 0;
  color: #909fd0;
  font-weight: 700;
  padding-left: 15px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #post .posts div._post .text ._auth span.auth {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #post .posts div._post .text ._auth span.auth:hover {
  color: white;
}

main #foot {
  width: 100%;
  background-color: black;
}

main #foot .footer {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

main #foot .footer .social {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #foot .footer .social div._FootSocial {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: lightgray;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

main #foot .footer .social div._FootSocial:nth-child(1) {
  background-color: #1877f2;
  color: white;
}

main #foot .footer .social div._FootSocial:nth-child(2) {
  background-color: #fa7d1d;
  color: white;
}

main #foot .footer .social div._FootSocial:nth-child(3) {
  background-color: #1da1f2;
  color: #ebebeb;
}

main #foot .footer .social div._FootSocial:nth-child(4) {
  background-color: #f00;
  color: #ebebeb;
}

main #foot .footer .social div._FootSocial:nth-child(5) {
  background-color: #0a66c2;
  color: white;
}

main #foot .footer .social div._FootSocial:hover {
  background-color: lightgray;
  color: black;
}

#_search {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

#_search ._close {
  position: absolute;
  color: lightgray;
  font-size: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#_search ._close:hover {
  color: #fa8955;
}

#_search ._input {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60%;
  margin: auto;
  height: 60px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #969696;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 50px;
}

#_search ._input:hover {
  background-color: lightgray;
}

#_search ._input input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-size: 30px;
}

#_search ._input input:focus {
  outline: none;
}

#_search ._input input::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-size: 30px;
}

#_search ._input input:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-size: 30px;
}

#_search ._input input::-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-size: 30px;
}

#_search ._input input::placeholder {
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-size: 30px;
}

#_userAcc {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  display: none;
}

#_userAcc ._sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  z-index: 5;
  padding-bottom: 20px;
  background-image: linear-gradient(70deg, rgba(26, 27, 27, 0.8), rgba(10, 50, 202, 0.8));
}

#_userAcc ._sidebar ._sClose {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: left;
  padding: 10px;
  color: lightgray;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#_userAcc ._sidebar ._sClose:hover {
  color: sandybrown;
}

#_userAcc ._sidebar ._avatar {
  margin: auto;
  width: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#_userAcc ._sidebar ._avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 5px 1px white;
          box-shadow: 0px 0px 5px 1px white;
}

#_userAcc ._sidebar ._uInfo {
  font-family: "Raleway", sans-serif;
  color: lightgray;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

#_userAcc ._sidebar ._uInfo:hover {
  background-color: lightgray;
  color: black;
}

#_userAcc ._sidebar ._act {
  background-color: lightgray;
  color: black;
}

#_userAcc ._sidebar ._altInfo {
  font-family: "Raleway", sans-serif;
  color: lightgray;
  width: 80%;
  margin: auto;
  border: 1px solid white;
  border-top: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
  background-color: lightgray;
  overflow: hidden;
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#_userAcc ._sidebar ._altInfo ul.info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#_userAcc ._sidebar ._altInfo ul.info li.infoLi {
  padding: 5px 0;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

#_userAcc ._sidebar ._altInfo ul.info li.infoLi:hover {
  background-color: #6f848c;
}

#_userAcc ._sidebar ._altInfo ul.info li.infoLi:hover a {
  color: lightgray;
}

#_userAcc ._sidebar ._altInfo ul.info li.infoLi a {
  color: lightgray;
  text-decoration: none;
  color: black;
}

#_userAcc ._sidebar ._desc {
  font-family: "Raleway", sans-serif;
  color: lightgray;
  width: 80%;
  margin: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1324px) {
  .container {
    width: 100%;
  }
  body {
    background-image: linear-gradient(135deg, #6d597a, #b56576, #e56b6f, #eaac8b);
  }
  header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: transparent;
  }
  header #nav .headerMenu {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    position: relative;
  }
  header #nav .headerMenu .logo {
    width: 25%;
    margin-left: 5px;
  }
  header #nav .headerMenu .menu {
    width: 70%;
  }
  header #nav .headerMenu ._mUsr {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    overflow: hidden;
    display: block;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu {
    display: none;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch {
    display: none;
  }
  header #nav .headerMenu ._mUsr ._tabM {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 10px;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tAva {
    width: 10%;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tAva img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0px 0px 2px 1px lightgray;
            box-shadow: 0px 0px 2px 1px lightgray;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tInfo {
    margin-left: 10px;
    font-family: "Raleway", sans-serif;
    color: lightgray;
    width: 22%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tPan {
    width: 15%;
    border-left: 1px solid lightgray;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tPan ul {
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tPan ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-family: "Raleway", sans-serif;
    color: lightgray;
    font-size: 14px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0 15px;
    cursor: pointer;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tPan ul li:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(lightgray), to(rgba(211, 211, 211, 0)));
    background-image: linear-gradient(to right, lightgray, rgba(211, 211, 211, 0));
    color: #3c3c3c;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tPan ul li:hover a {
    color: black;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tPan ul li a {
    font-family: "Raleway", sans-serif;
    padding-left: 10px;
    font-size: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: lightgray;
    text-decoration: none;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tExtra {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tExtra ._tSrch {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    background-color: lightgray;
    border-radius: 25px;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tExtra ._tSrch input {
    width: 80%;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    background-color: lightgray;
    font-family: "Raleway", sans-serif;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tExtra ._tSrch input:focus {
    outline: none;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tExtra ._tSrch ._tButton {
    width: 10%;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header #nav .headerMenu ._mUsr ._tabM ._tExtra ._tSrch ._tButton:hover {
    color: #d33838;
  }
  header #nav .headerMenu ._mCat {
    display: none;
  }
  header #nav .headerMenu ._mLeft,
  header #nav .headerMenu ._mRight {
    display: block;
    position: absolute;
    top: 50%;
    font-size: 34px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    color: lightgray;
  }
  header #nav .headerMenu ._mLeft {
    left: 10px;
    display: none;
  }
  header #nav .headerMenu ._mRight {
    right: 10px;
  }
  header #nav .headerMenu .emp,
  header #nav .headerMenu .user {
    display: none;
  }
  main #foot .footer .social {
    width: 100%;
    margin-left: 0;
  }
  main #post {
    padding: 10px 0;
  }
  main #post ._logo {
    display: none;
  }
  main #post .category .title {
    font-size: 20px;
  }
  main #post .category .catTitle ul li a {
    font-size: 20px;
  }
  main #post .posts div._post {
    width: 32%;
  }
  main #foot ._FootSocial {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  body {
    background-image: linear-gradient(135deg, #6d597a, #b56576, #e56b6f, #eaac8b);
  }
  header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: transparent;
  }
  header #nav .headerMenu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  header #nav .headerMenu .logo {
    width: 30%;
  }
  header #nav .headerMenu ._mUsr {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    overflow: hidden;
    display: block;
  }
  header #nav .headerMenu ._mUsr ._tabM {
    display: none;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5px;
    font-family: "Raleway", sans-serif;
    color: lightgray;
    padding: 5px 0;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mInfo {
    font-size: 16px;
    width: 20%;
    text-align: center;
    padding: 10px 0;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu {
    width: 80%;
    font-size: 16px;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li {
    width: 25%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 10px 0;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li:hover {
    background-color: lightgray;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li:hover a {
    color: black;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li a {
    color: white;
    text-decoration: none;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch {
    width: 100%;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0 5px 5px 5px;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch input {
    width: 85%;
    border: none;
    padding: 5px 3px 5px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: "Raleway", sans-serif;
    background-color: lightgray;
    font-size: 16px;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch input:focus {
    outline: none;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch ._msButton {
    width: 15%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #333333;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch ._msButton:hover {
    color: salmon;
  }
  header #nav .headerMenu ._mCat {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    height: 0px;
    z-index: 5;
  }
  header #nav .headerMenu ._mCat ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  header #nav .headerMenu ._mCat ul li {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header #nav .headerMenu ._mCat ul li:hover {
    background-color: lightgray;
  }
  header #nav .headerMenu ._mCat ul li:hover a {
    color: black;
  }
  header #nav .headerMenu ._mCat ul li a {
    font-family: "Raleway", sans-serif;
    color: lightgray;
    font-size: 16px;
    text-decoration: none;
  }
  header #nav .headerMenu ._mLeft,
  header #nav .headerMenu ._mRight {
    display: block;
    position: absolute;
    top: 50%;
    font-size: 34px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    color: lightgray;
  }
  header #nav .headerMenu ._mLeft {
    left: 10px;
  }
  header #nav .headerMenu ._mRight {
    right: 10px;
  }
  header #nav .headerMenu .menu,
  header #nav .headerMenu .emp,
  header #nav .headerMenu .user {
    display: none;
  }
  main #foot .footer .social {
    width: 100%;
    margin-left: 0;
  }
  main #post ._logo {
    display: none;
  }
  main #post .category .title {
    font-size: 12px;
  }
  main #post .category .catTitle ul li a {
    font-size: 13px;
  }
  main #post .posts div._post {
    width: 48%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  body {
    background-image: linear-gradient(135deg, #6d597a, #b56576, #e56b6f, #eaac8b);
  }
  header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: transparent;
  }
  header #nav .headerMenu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  header #nav .headerMenu .logo {
    width: 30%;
  }
  header #nav .headerMenu ._mUsr {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    overflow: hidden;
    display: block;
  }
  header #nav .headerMenu ._mUsr ._tabM {
    display: none;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5px;
    font-family: "Raleway", sans-serif;
    color: lightgray;
    padding: 5px 0;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mInfo {
    font-size: 16px;
    width: 20%;
    text-align: center;
    padding: 5px 0;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu {
    width: 80%;
    font-size: 16px;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li {
    width: 25%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 5px 0;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li:hover {
    background-color: lightgray;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li:hover a {
    color: black;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li a {
    color: white;
    text-decoration: none;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch {
    width: 100%;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0 5px 5px 5px;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch input {
    width: 85%;
    border: none;
    padding: 5px 3px 5px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: "Raleway", sans-serif;
    background-color: lightgray;
    font-size: 16px;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch input:focus {
    outline: none;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch ._msButton {
    width: 15%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #333333;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch ._msButton:hover {
    color: salmon;
  }
  header #nav .headerMenu ._mCat {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    height: 0px;
    z-index: 5;
  }
  header #nav .headerMenu ._mCat ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  header #nav .headerMenu ._mCat ul li {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header #nav .headerMenu ._mCat ul li:hover {
    background-color: lightgray;
  }
  header #nav .headerMenu ._mCat ul li:hover a {
    color: black;
  }
  header #nav .headerMenu ._mCat ul li a {
    font-family: "Raleway", sans-serif;
    color: lightgray;
    font-size: 16px;
    text-decoration: none;
  }
  header #nav .headerMenu ._mLeft,
  header #nav .headerMenu ._mRight {
    display: block;
    position: absolute;
    top: 50%;
    font-size: 24px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    color: lightgray;
  }
  header #nav .headerMenu ._mLeft {
    left: 10px;
  }
  header #nav .headerMenu ._mRight {
    right: 10px;
  }
  header #nav .headerMenu .menu,
  header #nav .headerMenu .emp,
  header #nav .headerMenu .user {
    display: none;
  }
  main #foot .footer .social {
    width: 100%;
    margin-left: 0;
  }
  main #post {
    padding: 0;
  }
  main #post ._logo {
    display: none;
  }
  main #post .container {
    width: 95%;
  }
  main #post .category {
    display: none;
  }
  main #post .mobileCat {
    display: block;
    width: 100%;
  }
  main #post .mobileCat .mobileTitle {
    padding: 10px 0;
    font-family: "Raleway", sans-serif;
    color: lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #1877f2;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    cursor: pointer;
  }
  main #post .mobileCat .mobileTitle span {
    margin-left: 10px;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #1877f2;
    z-index: 5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul li {
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 5px 0;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul li:hover {
    background-color: lightgray;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul li:hover a {
    color: #1877f2;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul li a {
    text-decoration: none;
    color: lightgray;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  main #post .posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #post .posts div._post {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  body {
    background-image: linear-gradient(135deg, #6d597a, #b56576, #e56b6f, #eaac8b);
  }
  header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: transparent;
  }
  header #nav .headerMenu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  header #nav .headerMenu .logo {
    width: 30%;
  }
  header #nav .headerMenu ._mUsr {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    overflow: hidden;
    display: block;
  }
  header #nav .headerMenu ._mUsr ._tabM {
    display: none;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5px;
    font-family: "Raleway", sans-serif;
    color: lightgray;
    padding: 5px 0;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mInfo {
    font-size: 12px;
    width: 20%;
    text-align: center;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu {
    width: 80%;
    font-size: 12px;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li {
    width: 25%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li:hover {
    background-color: lightgray;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li:hover a {
    color: black;
  }
  header #nav .headerMenu ._mUsr ._mobileMenu ._mUsrMenu ul li a {
    color: white;
    text-decoration: none;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch {
    width: 100%;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0 5px 5px 5px;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch input {
    width: 85%;
    border: none;
    padding: 3px 3px 3px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: "Raleway", sans-serif;
    background-color: lightgray;
    font-size: 12px;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch input:focus {
    outline: none;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch ._msButton {
    width: 15%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #333333;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  header #nav .headerMenu ._mUsr ._mobileSrch ._msButton:hover {
    color: salmon;
  }
  header #nav .headerMenu ._mCat {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    height: 0px;
    z-index: 5;
  }
  header #nav .headerMenu ._mCat ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  header #nav .headerMenu ._mCat ul li {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header #nav .headerMenu ._mCat ul li:hover {
    background-color: lightgray;
  }
  header #nav .headerMenu ._mCat ul li:hover a {
    color: black;
  }
  header #nav .headerMenu ._mCat ul li a {
    font-family: "Raleway", sans-serif;
    color: lightgray;
    font-size: 12px;
    text-decoration: none;
  }
  header #nav .headerMenu ._mLeft,
  header #nav .headerMenu ._mRight {
    display: block;
    position: absolute;
    top: 50%;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    color: lightgray;
  }
  header #nav .headerMenu ._mLeft {
    left: 10px;
  }
  header #nav .headerMenu ._mRight {
    right: 10px;
  }
  header #nav .headerMenu .menu,
  header #nav .headerMenu .emp,
  header #nav .headerMenu .user {
    display: none;
  }
  main ._logo {
    display: none;
  }
  main #post {
    padding: 0;
  }
  main #post .container {
    width: 95%;
  }
  main #post .category {
    display: none;
  }
  main #post .mobileCat {
    display: block;
    width: 100%;
  }
  main #post .mobileCat .mobileTitle {
    padding: 10px 0;
    font-family: "Raleway", sans-serif;
    color: lightgray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #1877f2;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    cursor: pointer;
  }
  main #post .mobileCat .mobileTitle span {
    margin-left: 10px;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #1877f2;
    z-index: 5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul li {
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 5px 0;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul li:hover {
    background-color: lightgray;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul li:hover a {
    color: #1877f2;
  }
  main #post .mobileCat .mobileTitle ._mobileAlt ul li a {
    text-decoration: none;
    color: lightgray;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  main #post .posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #post .posts div._post {
    width: 100%;
  }
  main #foot .footer {
    padding: 0;
  }
  main #foot .footer .social {
    width: 100%;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */